:root {
    --bg-grad: linear-gradient(180deg,
            rgba(255, 255, 255, 0.2),
            rgb(250, 223, 165, 0.5),
            rgb(250, 223, 165, 0.2));
    --bgh-grad: linear-gradient(180deg,
            rgba(255, 255, 255, 0.1),
            rgba(196, 189, 189, 0.3),
            rgba(255, 255, 255, 0.1));
    --main-color: #FFC107;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&family=Fuzzy+Bubbles&family=Kalam&display=swap');
*{
    font-family: 'Fjalla One', sans-serif;
}
nav .container {
    height: 150px;
    z-index: 9999999999;
}

nav a img {
    max-width: 100px;
    vertical-align: middle;
    /* display: inline-block; */
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: rgb(241, 178, 40);
    transition: all 0.5s;
}

.tilte-logo {
    vertical-align: middle;
}

.tilte-logo h1 {
    margin: 0px !important;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.flag {
    width: 30px;
    height: 30px;
}
.flag img{
    width: 100%;
}
.form-control {
    border-radius: 50px;
    border: 0px;
    color: rgb(241, 178, 40) !important;
    background-color: rgba(0, 0, 0, 0.2);
}

.form-control:focus {
    background-color: rgba(0, 0, 0, 0.2);
    border: 0px !important;
    box-shadow: 0 0 0 0rem rgb(250, 223, 165) !important;
}

.myweather {
    background-image: url(../images/25609664672_5a30194d24_h.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*  height: 500px; */
}
.filter{
    top: 40%;
    overflow: hidden;
    font-size: 0.8rem;
    z-index: 2000;
}
.filter li{
    position: relative;
    cursor: pointer;
    padding: 10px 2px;
}
.filter li:hover{
    color: var(--main-color);
}
.filter li::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 1px;
    background-color: var(--main-color);
}
.wearher-content {
    /* height: 80%; */
    /* box-shadow: 0px 0px 10px 0.2rem  rgb(250, 223, 165); */
    background-image: var(--bg-grad);
    /* background-image:radial-gradient(rgb(250, 223, 165,0.3), rgba(0,0,0,0.4),rgb(250, 223, 165,0.3)); */
}

.main-day{
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}
.main-day .main-day-degree{
    font-size: 5rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
.main-day .date h4{
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    font-family: 'Kalam', cursive;
}
.days img{
    width:50px
}
.days span{
    font-size: 0.8rem;
}
/* .subHours{
    box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
    font-weight: 300;
    padding:2px 0px;
    overflow: hidden;
} */
.cites {
    min-height: fit-content;
    max-height: 75vh;
    overflow: hidden;
    position: relative;

}

.myCites {
    min-height: fit-content;
    max-height: 90%;
    overflow-y: auto;
}
/* .loding::after{
    content: "";
    width: 100%;
    background-color: #1a1e217c;
    max-height: inherit;
    position: absolute;
    top: 0;
    bottom: -100%;
    right: 0;
    left: 0;
    z-index: 90000;
} */
.loding{
    z-index: 100;
    position: absolute;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #1a1e21a9;
    /* display: block; */
}
.crcl{
    position: absolute;
    top:40%;
    right: calc((100%+25px)/2);
    width:20px;
    height: 20px;
    display: none;
    /* z-index: 10000; */
}
.myCites li {
    background-image: var(--bgh-grad);
    cursor: pointer;
}

.myCites li:hover {
    color: var(--main-color) !important;
    background-color: #1A1E21;
}
.myCites li p{
    color:var(--main-color)
}
.myCites li p,
.myCites li h6 {
    margin: 0 !important;
}

footer .social-links a {
    color: rgba(241, 178, 40, 0.2);
    padding: 0px 5px;
    transition: all 0.5s;
}

footer .social-links a:hover {
    color: var(--main-color);
    padding: 0px 5px;
}

footer p {
    color: var(--main-color);
    font-size: 0.8rem;
}

@media screen and (max-width : 993px )  {
    .main-day .main-day-degree{
        font-size: 3rem;
        font-weight: 400;
    }
}
@media screen and (max-width : 600px )  {
    nav a img {
        max-width: 75px;
        vertical-align: middle;
        /* display: inline-block; */
    }
    .tilte-logo h1{
        font-size: 1.1rem;
    }
    .tilte-logo p{
        font-size: 0.8rem;
    }
    nav .region h5{
        font-size: 0.9rem !important;
    }
    .filter{
        top: 36%;
        width: 13%;
        text-align: center;
        font-size: 0.6rem;
    }
    .filter ul li{
        top: 0%;
        position: relative;
        cursor: pointer;
        padding: 5px 2px;
    }
    .filter li:hover{
        color: var(--main-color);
    }
    .filter li::before{
        content: "";
        position: absolute;
        top: 0%;
        bottom: 0%;
        right: 100%;
        width: 1px;
        background-color: var(--main-color);
    }
    .filter li::after{
        content: "";
        position: absolute;
        top: 0%;
        bottom: 0%;
        right: 0%;
        width: 0px;
    }
    .px-5{
        padding:10px 20px !important;
    }
    .weahterPram{
        flex-wrap: wrap;
        overflow: hidden;
        font-size: 1rem;
    }
}